<!DOCTYPE html>
<html>
  <title>QuestBook</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Raleway"
  />
  <body>
    <div class="text-center mt-20">
      <h1 class="text-4xl font-semibold">About</h1>
      <p class="text-lg mt-20">Must do list adventures a country</p>
    </div>
  </body>
</html>
